## Загрузка данных

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
data = pd.read_csv('insurance.csv')

In [ ]:
def gigo(data):
      for column in data.columns:
        print('Уникальные значения столбца', column)
        print(data[column].value_counts())
      print('Количество пропусков')    
      print(data.isna().sum())
      print('Количество дубликатов')    
      print(data.duplicated().sum())
def info(data):
    display(data.describe())
    data.info()
    display(data)

In [ ]:
gigo(data)
info(data)

Уникальные значения столбца Пол
0    2505
1    2495
Name: Пол, dtype: int64
Уникальные значения столбца Возраст
19.0    223
25.0    214
31.0    212
26.0    211
22.0    209
27.0    209
32.0    206
28.0    204
29.0    203
30.0    202
23.0    202
21.0    200
20.0    195
36.0    193
33.0    191
24.0    182
35.0    179
34.0    177
37.0    147
39.0    141
38.0    139
41.0    129
18.0    117
40.0    114
42.0     93
43.0     77
44.0     74
45.0     73
46.0     60
47.0     47
49.0     37
50.0     27
48.0     26
52.0     22
51.0     21
53.0     11
55.0      9
54.0      7
56.0      5
59.0      3
60.0      2
58.0      2
57.0      2
62.0      1
65.0      1
61.0      1
Name: Возраст, dtype: int64
Уникальные значения столбца Зарплата
45800.0    29
37100.0    28
43200.0    27
41500.0    27
46800.0    26
           ..
68900.0     1
59700.0     1
59000.0     1
68000.0     1
64400.0     1
Name: Зарплата, Length: 524, dtype: int64
Уникальные значения столбца Члены семьи
1    1814
0    1513
2    1071
3     439
4     124
5      32
6       7
Name: Члены семьи, dtype: int64
Уникальные значения столбца Страховые выплаты
0    4436
1     423
2     115
3      18
4       7
5       1
Name: Страховые выплаты, dtype: int64
Количество пропусков
Пол                  0
Возраст              0
Зарплата             0
Члены семьи          0
Страховые выплаты    0
dtype: int64
Количество дубликатов
153

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
Пол                  5000 non-null int64
Возраст              5000 non-null float64
Зарплата             5000 non-null float64
Члены семьи          5000 non-null int64
Страховые выплаты    5000 non-null int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

      Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0       1     41.0   49600.0            1                  0
1       0     46.0   38000.0            1                  1
2       0     29.0   21000.0            0                  0
3       0     21.0   41700.0            2                  0
4       1     28.0   26100.0            0                  0
...   ...      ...       ...          ...                ...
4995    0     28.0   35700.0            2                  0
4996    0     34.0   52400.0            1                  0
4997    0     20.0   33900.0            2                  0
4998    1     22.0   32700.0            3                  0
4999    1     28.0   40600.0            1                  0

[5000 rows x 5 columns]

Нет пропущенных значений, так же распределение и отклонения в норме, хотя в столбце страховых выплат видно, что большая часть не имела выплат. Нет других аномалий.

Единственное что хочется сделать - это удалить дубликаты и для удобства привести значения столбцов в целочисленный вид.

In [ ]:
def clean_n_(data):
      for column in data.columns:
        data[column] = pd.to_numeric(data[column], downcast='integer')
      data = data.drop_duplicates()
      print('Инфо') 
      data.info()
      print('Количество пропусков', data.duplicated().sum())

In [ ]:
clean_n_(data)

Инфо
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4847 entries, 0 to 4999
Data columns (total 5 columns):
Пол                  4847 non-null int8
Возраст              4847 non-null int8
Зарплата             4847 non-null float64
Члены семьи          4847 non-null int8
Страховые выплаты    4847 non-null int8
dtypes: float64(1), int8(4)
memory usage: 94.7 KB
Количество пропусков 0

## Вывод

Всё чисто, можем двигаться дальше.

## Умножение матриц

**Вопрос:** Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии?

**Ответ:** нет, качество не изменится.


**Обоснование:**

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $Z$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

Пусть $Z$ обратимая, квадратная матрица, размер которой равен ширине Х

Тогда новая матрица признаков будет равна:

$$
X' = XZ
$$

И формула вектора:

$$
w' = \arg\min_w MSE(XZ, y)
$$
 

Тогда новая формула обучения выглядит так:

$$
w' = ((XZ)^T XZ)^{-1} (XZ)^T y
$$
 
 
Значит можем раскрыть скобки в согласии со свойством обратных матриц:

$$
w' = Z^{-1}((XZ)^T X)^{-1} (XZ)^T y
$$

Далее раскроем скобки с транспонированием:

$$
w' = Z^{-1}(X^TZ^T X)^{-1} X^TZ^T y
$$

Из свойства обратных матриц знаем что можем вынести за скобки $(Z^T..)^{-1}$:

$$
w' = Z^{-1}(X^T X)^{-1} (Z^T)^{-1}X^TZ^T y
$$

Сократим $(Z^{T})^{-1} Z^T$:

$$
w' = Z^{-1}(X^T X)^{-1} X^T y 
$$

Подставим вместо выражения $ (X^T X)^{-1} X^T y $ — тождественное ему $ w $ по формуле обучения, получаем:

$$
w' = Z^{-1}w 
$$

Теперь подставим это в формулу для нахождения $ a' = X'w'$ и получим:

$$
a' = X'Z^{-1}w
$$

Также можем заменить значение новой матрицы на выражение из формулы $ X' = XZ$:

$$
a' = XZZ^{-1}w 
$$

$ ZZ^{-1} $ взаимно устраняются:

$$
a' = Xw
$$

А значит:

$$
a' = a
$$

## Вывод

По итогу мы уверенно доказали,что качество линейной регрессии при умножении матрицы на обратимую, квадратную матрицу не изменится.

Чтобы защитить данные и не потерять качество модели, далее применим этот алгоритм в преобразовании.

## Алгоритм преобразования

Нужно умножить признаки на обратимую матрицу. Для этого алгоритм преобразования данных должен содержать процесс создания подобной матрицы и ее умножения на матрицу признаков.

Рандомная матрица должна иметь необходимую размерность $(nxn)$, где n - количество признаков для регрессии. Таким образом рандомная матрица будет иметь туже размерность, что и изначальная.

Разделяя на этапы, алгоритм можно выразить так:

- Разделим датафрейм на тренировочную и тестовую выборки
- Перенесём признаки в матрицу
- Создадим такую же по размерам рандомную матрицу
- Проверим на обратимость
- Создадим новые выборки через умножение признаков на обратимую матрицу
- Расчитаем веса $w$ для исходных признаков
- Вводим данные в линейную регрессию
- Выводим предсказания
- Определяем метрики R2 для двух моделей и сравниваем

## Вывод обоснование

Как уже отметили ранее – умножение матрицы на обратимую, квадратную матрицу не меняет качество модели, значит нам осталось настроить нашу модель так, чтобы она создавала рандомную матрицу, далее инвертировала для проверки на ошибку и после высчитывала весы и предсказания с поправкой,что данные зашифрованы.

## Проверка алгоритма

Разделим сперва датафрейм на тренировочную и тестовую выборки

In [ ]:
train, test = train_test_split(data, test_size = 0.4, random_state = 1234)
test_target = test['Страховые выплаты']
test_features = test.drop('Страховые выплаты', axis = 1)
train_target = train['Страховые выплаты']
train_features = train.drop('Страховые выплаты', axis = 1)

Перенесём признаки в матрицу

In [ ]:
train_mat = train_features.values
test_mat = test_features.values

Создадим такую же по размерам рандомную матрицу

In [ ]:
rand_mat = np.random.rand(4,4)

Проверим на обратимость

In [ ]:
ver_mat = np.linalg.inv(rand_mat)

Создадим новые выборки через умножение признаков на обратимую матрицу

In [ ]:
test_features_2 = test_mat @ ver_mat
train_features_2 = train_mat @ ver_mat

Обучение на обычных данных

In [ ]:
model = LinearRegression()
model.fit(train_features, train_target)
prediction = model.predict(test_features)
r2_score(test_target, prediction)

0.42210110961501923

Обучение на новой выборке

In [ ]:
model_2 = LinearRegression()
model_2.fit(train_features_2, train_target)
predictions = model_2.predict(test_features_2)
r2_score(test_target, predictions)

0.42210110961493774

Видим, что качество не изменилось. Через создание специального класса для алгоритма, выведем так же R2 и сравним

In [ ]:
class ModelX:
    def fit(self, train_features, train_target):
        self.P = np.linalg.inv(np.random.rand(4,4))
        self.Z = train_features @ self.P
        X = np.concatenate((np.ones((self.Z.shape[0], 1)), self.Z), axis=1)
        y = train_target
        w = ((np.linalg.inv(X.T.dot(X))) @ X.T) @ y
        self.w = w[1:]
        self.w0 = w[0]
    def predict(self, test_features):
        return (test_features @ self.P) @ self.w + self.w0

In [ ]:
model = ModelX()
model.fit(train_features, train_target)
predictions = model.predict(test_features)
print('R2 score', r2_score(test_target, predictions))

R2 score 0.4221011130314618

In [ ]:
model_l = LinearRegression()
model_l.fit(train_features, train_target)
prediction_l = model_l.predict(test_features)
print('R2 score on LinearRegression:', r2_score(test_target, prediction_l))

model_o = ModelX()
model_o.fit(train_features, train_target)
prediction_o = model_o.predict(test_features)
print('R2 score on our model:', r2_score(test_target, prediction_o))

R2 score on LinearRegression: 0.42210110961501923
R2 score on our model: 0.4221011080153322

Модель справилась и результат R2 в случае с проебразованием, так и без преобразования будет схожим.

## Вывод

Видим, что преобразованные данные схожи с результатами исходных данных. Можно сказать, что таким образом мы достаточно защитим чувствительную информацию о пользователях страховой фирмы в это же время сохраняя качество модели.

# Итоговый вывод


Что мы сделали:

- Загрузили данные, изучили их, проверили на аномалии, скорректировали тип и избавились от дубликатов.
- Разобрались в том, что качество линейной регресии не зависит от умножения матрицы на обратную.
- На основе выводов об умножении матриц построили алгоритм защиты данных.
- Проведено сравнение метрики R2 у моделей с преобразованием и без.

По итогу проведённого исследования у нас получилось зашифровать данные таким образом, что это реализуется достаточно просто, в то же время тяжело распознаётся со стороны может достигаться на исходной матрице и без потери качества.